In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("seatsurveymodel.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,7,8,25,26,60,72,84,96,108,120,132,144,156,168,180,192,204,216,228,240,252,264,276,283,288,289,290) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df.columns

Index(['participant.id_in_session', 'participant.code', 'participant.label',
       'participant._is_bot', 'participant._index_in_pages',
       'participant._max_page_index', 'participant._current_app_name',
       'participant._current_page_name', 'participant.time_started',
       'participant.visited',
       ...
       'survey.1.player.gender', 'survey.1.player.feet',
       'survey.1.player.inches', 'survey.1.player.rt',
       'survey.1.player.bizlei', 'survey.1.player.seattype',
       'survey.1.player.section', 'survey.1.player.comment',
       'survey.1.group.id_in_subsession', 'survey.1.subsession.round_number'],
      dtype='object', length=293)

In [7]:
df.drop(['participant.code','participant.label','participant._is_bot',
        'participant._current_app_name','participant._current_page_name','participant.visited',
        'participant.mturk_worker_id','participant.mturk_assignment_id','participant.payoff',
        'session.code','session.label','session.mturk_HITId','session.mturk_HITGroupId','session.comment',
        'session.is_demo'], inplace = True, axis = 1
       )

In [13]:
df.columns

Index(['participant.id_in_session', 'participant._index_in_pages',
       'participant._max_page_index', 'participant.time_started',
       'session.config.real_world_currency_per_point',
       'session.config.participation_fee', 'randseq.1.player.id_in_group',
       'randseq.1.player.role', 'randseq.1.player.payoff',
       'randseq.1.player.page_sequence',
       ...
       'survey.1.player.gender', 'survey.1.player.feet',
       'survey.1.player.inches', 'survey.1.player.rt',
       'survey.1.player.bizlei', 'survey.1.player.seattype',
       'survey.1.player.section', 'survey.1.player.comment',
       'survey.1.group.id_in_subsession', 'survey.1.subsession.round_number'],
      dtype='object', length=278)

In [11]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5036 entries, 0 to 5035
Columns: 278 entries, participant.id_in_session to survey.1.subsession.round_number
dtypes: float64(28), int64(160), object(90)
memory usage: 10.7+ MB

,participant.id_in_session,participant._index_in_pages,participant._max_page_index,session.config.real_world_currency_per_point,session.config.participation_fee,randseq.1.player.id_in_group,randseq.1.player.role,randseq.1.player.payoff,randseq.1.player.distance_1,randseq.1.player.price_1,...,survey.1.player.id_in_group,survey.1.player.role,survey.1.player.payoff,survey.1.player.age,survey.1.player.feet,survey.1.player.inches,survey.1.player.rt,survey.1.player.bizlei,survey.1.group.id_in_subsession,survey.1.subsession.round_number
count,5036.000000,5036.000000,5036.0,5036.0,5036.0,5036.000000,0.0,5036.0,5036.000000,5036.000000,...,5036.000000,0.0,5036.0,139.000000,139.00000,139.000000,139.000000,139.000000,5036.0,5036.0
mean,2482.671565,0.726966,22.0,1.0,0.0,2482.671565,NaN,0.0,3.119817,165.687053,...,2482.671565,NaN,0.0,35.791367,5.18705,5.647482,5.971223,19.028777,1.0,1.0
std,1453.618385,3.867661,0.0,0.0,0.0,1453.618385,NaN,0.0,1.380239,81.907123,...,1453.618385,NaN,0.0,12.883241,0.42679,3.556711,8.855476,31.640174,0.0,0.0
min,1.000000,0.000000,22.0,1.0,0.0,1.000000,NaN,0.0,0.800000,29.000000,...,1.000000,NaN,0.0,13.000000,4.00000,0.000000,0.000000,0.000000,1.0,1.0
25%,1223.750000,0.000000,22.0,1.0,0.0,1223.750000,NaN,0.0,1.900000,98.000000,...,1223.750000,NaN,0.0,26.000000,5.00000,3.000000,2.000000,0.000000,1.0,1.0
50%,2482.500000,0.000000,22.0,1.0,0.0,2482.500000,NaN,0.0,3.100000,160.000000,...,2482.500000,NaN,0.0,32.000000,5.00000,6.000000,3.000000,0.000000,1.0,1.0
75%,3741.250000,0.000000,22.0,1.0,0.0,3741.250000,NaN,0.0,4.300000,223.000000,...,3741.250000,NaN,0.0,42.500000,5.00000,9.000000,6.000000,25.000000,1.0,1.0
max,5000.000000,23.000000,22.0,1.0,0.0,5000.000000,NaN,0.0,5.500000,386.000000,...,5000.000000,NaN,0.0,76.000000,6.00000,11.000000,60.000000,100.000000,1.0,1.0